<template>
	<style>
		#bar {
			display: flex;
			justify-content: start;
			align-items: center;
			padding-left: 2px;
			padding-right: 2px;
		}

		#addrLabel {
			display: flex;
			padding-left: 1px;
			padding-right: 2px;
		}

		#field {
			display: flex;
			justify-content: start;
			align-items: center;
			gap: 5px;
			flex-grow: 1;
			padding: 2px 2px 2px 3px;
		}

		#address {
			display: flex;
			margin-top: 2px;
			flex-grow: 1;
		}

		#dropdown {
			min-height: 17px;
			min-width: 16px;
			padding: 0px 0px 0px 1px;
  			background-image: var(--98-css-down);
		}
	</style>
	<div id="container">
		<div class="horizontal-rule"></div>
		<div id="bar">
			<div id="addrLabel">A<div class="shortcut">d</div>dress</div>
			<div id="field" class="fake-pre">
				<img id="icon">
				<div id="address">
					<div>https://estivalbloom.dev/</div>
				</div>
				<button id="dropdown" inert></button>
			</div>
		</div>
		<div class="horizontal-rule"></div>
	</div>
</template>