html { 
	height: 100%;
}

body {
	background-color: #008080;
	margin: 0px;
	overflow: visible;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.frame #content {
	width: 100%;
	border: none;
	box-shadow: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;
	padding: 2px;
}

#main-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.spacer {
	flex-grow: 1;
}

#desktop-icon-container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: start;
	margin-top: 12px;
	gap: 1.5px;
	margin-right: 0.5px;
}

.desktop-icon {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	width: 74px;
	gap: 4px;
}

.desktop-icon-overlay {
	position: absolute;
	top: 0px;
	left: 21px;
	right: 21px;
	height: 32px;
	background-image: url('/assets/blue-dither.png');
	visibility: hidden;
}

.desktop-icon:focus {
	outline: unset;
}

.desktop-icon:focus .icon-canvas-light {
	visibility: visible;
}

.desktop-icon:active .desktop-icon-overlay {
	visibility: visible;
}

.desktop-icon:active .icon-canvas-strong {
	visibility: visible;
}

.desktop-icon-text {
	position: relative;
	box-sizing: content-box;
	color: white;
	font-size: 11px;
	text-align: center;
	font-family: "Pixelated MS Sans Serif",Arial;
	margin-left: 1px;
}

.desktop-icon-text>div {
	padding: 1px 0px 0px 2px;
	box-sizing: content-box;
}

.icon-canvas {
	visibility: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.icon-canvas-strong {
	background-color: blue;
}

.vertical-rule {
	box-shadow: inset -1px 0px #dfdfdf, inset 1px 0px grey;
	min-height: 100%;
	max-width: 2px;
	min-width: 2px;
	margin: 2px 1px;
}


#modal-alert {
	z-index: 100;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#modal-alert[aria-hidden='true'] {
	display: none;
}

#dn-alert {
	width: 250px;
}

#dn-text {
	margin-bottom: 4px;
}

:root {
	--code-color: #00FF00;
	--code-card-bg: #008200;
	--code-card-fg: #000000;
}

.code-content {
	background: url('/assets/matrix-text.png');
	max-height: 100%;
	overflow-y: scroll;

}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0px;
}

.fake-pre {
	background: #fff;
	box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
	display: block;
}



#minesweeper-button {
	min-width: 16px;
	min-height: 16px;
	max-width: 16px;
	max-height: 16px;
	padding: 4px 3px 3px 4px;
	box-sizing: content-box;
	box-shadow: unset;
}

#shortcuts button:hover {
	box-shadow: 
		inset -1px -1px gray,
		inset 1px 1px white
	;
}

#shortcuts button:active {
	box-shadow: 
		inset -1px -1px white,
		inset 1px 1px gray
	;
}

#minesweeper-icon {
	min-width: 16px;
	min-height: 16px;
	max-width: 16px;
	max-height: 16px;
	background-image: url('/assets/minesweeper/minesweeper-sprites.png');
	background-position: calc(-16px * 9 - 1px) -1px;
	padding: 0px;
}

#taskbar-item-container {
	display: flex;
	gap: 3px;
}

.title-bar {
	padding: 1px 2px;
}

.title-bar-text {
	display: flex;
	gap: 3px;
	align-items: center;
}

.title-bar-text>div {
	padding: 1px 0px 0px 0px;
}

.taskbar-item {
	background: silver;
  	box-shadow:
		inset -1px -1px #0a0a0a,
		inset 1px 1px #fff,
		inset -2px -2px grey,
		inset 2px 2px #dfdfdf
	;
	border: none;
	border-radius: 0;
	box-sizing: border-box;
	min-height: 23px;
	width: 160px;
	max-width: 160px;
	padding: 1px 0px 0px 4px;
	display: flex;
	gap: 3px;
	align-items: center;
}

.taskbar-item>div {
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

.taskbar-item-active {
	box-shadow:
		inset -1px -1px #fff,
		inset 1px 1px #0a0a0a,
		inset -2px -2px #c0c0c0,
		inset 2px 2px grey,
		inset 0px 3px white
	;
	background: url('/assets/active-taskbar-dither.png');
	font-weight: bold;
}