body {
	background-color: #008080;
	margin: 0px;
	overflow: visible;
}

.information {
	display: flex;
	flex-direction: column;
}

.information .window-body {
	display: grid;
	grid-template-columns: auto auto;
	align-content: center;
	flex-grow: 1;
}

.information .window-body div {
	margin-top: auto;
	margin-bottom: auto;
}

.information .window-body img {
	flex-shrink: 1;
	flex-grow: 0;
}

#task-bar {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}