html { 
	height: 100%;
}

body {
	background-color: #008080;
	margin: 0px;
	overflow: visible;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.frame #content {
	width: 100%;
	border: none;
	box-shadow: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;
	padding: 2px;
}

#main-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.spacer {
	flex-grow: 1;
}

#desktop-icon-container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: start;
	margin-top: 12px;
	gap: 1.5px;
	margin-right: 0.5px;
}

.desktop-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	width: 74px;
	gap: 4px;
}

.desktop-icon:focus {
	outline: unset;
}

.desktop-icon:focus .icon-canvas-light {
	visibility: visible;
}

.desktop-icon:active .icon-canvas-strong {
	visibility: visible;
}

.desktop-icon-text {
	position: relative;
	box-sizing: content-box;
	color: white;
	font-size: 11px;
	text-align: center;
	font-family: "Pixelated MS Sans Serif",Arial;
	padding: 1px 1px 0px 2px;
	margin-left: 2px;
}

.icon-canvas {
	visibility: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.icon-canvas-strong {
	background-color: blue;
}

.vertical-rule {
	box-shadow: inset -1px 0px #dfdfdf, inset 1px 0px grey;
	min-height: 100%;
	max-width: 2px;
	min-width: 2px;
	margin: 2px 1px;
}


#modal-alert {
	z-index: 100;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#modal-alert[aria-hidden='true'] {
	display: none;
}

#dn-alert {
	width: 250px;
}

#dn-text {
	margin-bottom: 4px;
}

:root {
	--code-color: #3ca24f;
	--code-card-bg: #202020;
	--code-card-fg: #2d2d2d;
}

.code-content {
	background: #1d7833;
	max-height: 100%;
	overflow-y: scroll;

}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0px;
}

.fake-pre {
	background: #fff;
	box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
	display: block;
}