#nav-item {
	display: flex;
	align-items: center;
	margin: 1px;
}

#nav-icon {
	width: 64px;
	height: 64px;
}

#nav-title {
	font-size: 22px;
	font-weight: bold;
	margin: 0px 16px;
}

#nav-item:hover {
	background-color: blue;
	color: white;
}