<template>
	<style>
		#container {
			gap: 2px;
		}

		#start-button {
			display: flex;
			align-items: center;
			padding: 0px 6px;
			min-width: unset;
			gap: 2px;
		}

		#start-button div {
			font-weight: bold;
			align-content: center;
		}

		#status-indicators {
			flex-grow: 0;
			padding: unset;
			display: flex;
			align-items: start;
		}

		#start-button img {
			width: 16px;
			height: 16px;
		}

		#clock {
			position: relative;
			cursor: default;
		}

		#clock-text {
			position: absolute;
			height: 17px;
			padding-top: 6px;
		}

		.tooltip:hover:after {
			content: attr(data-tooltip);
			position: absolute;
			top: -20px;
			right: 0px;
			white-space: nowrap;
			background-image: url("/assets/tooltip-dither.png");
			padding: 2px;
			border: 1px solid black;
		}

		#copyright-button {
			all: unset;
			height: 100%;
			cursor: pointer;
			position: relative;
		}

		#copyright {
			width: 16px;
			height: 100%;
			object-fit: contain;
			margin-left: 3px;
		}

		.spacer {
			flex-grow: 1;
		}

		.vertical-rule {
			box-shadow: inset -1px 0px #dfdfdf, inset 1px 0px grey;
			min-height: 100%;
			max-width: 2px;
			min-width: 2px;
		}
	</style>
	<footer>
		<div class="window">
			<div id="container" class="status-bar">
				<button id="start-button">
					<img src="/assets/icons/16/tinysparklies.png">
					<div>
						Start
					</div>
				</button>
				<div class="vertical-rule"></div>
				<slot name="shortcuts"></slot>
				<div class="vertical-rule"></div>
				<slot name="open-windows"></slot>
				<div class="spacer"></div>
				<div class="vertical-rule"></div>
				<div id="status-indicators" class="status-bar-field">
					<button id="copyright-button" class="tooltip" data-tooltip="© EstivalBloom 2025 - Forever" >
						<img id="copyright" src="/assets/icons/16/copyright-white.png" alt="Copyright EstivalBloom 2025 - Forever">
					</button>
					<div id="clock" class="tooltip">
						<div id="clock-text"></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</template>