<template>
	<style>
		#ok-button {
			/* Bit of a hack for now, but this fixes blurriness */
			min-width: 76px;
		}

		.title-bar-controls button:focus {
			outline: 1px dotted #000 !important;
			outline-offset: -3px;
		}
		
	</style>
	<div class="window" role="document">
		<div class="title-bar">
			<div id="title-text" class="title-bar-text">
				<slot name="window-title"></slot>
			</div>
			<div class="title-bar-controls">
				<!-- <button aria-label="Minimize"></button>
				<button aria-label="Maximize"></button> -->
				<button id="close-button" type="button" aria-label="Close"></button>
			</div>
		</div>
		<div class="window-body">
			<slot name="window-body"></slot>
			<section class="field-row" style="justify-content: flex-end">
				<button id="ok-button">OK</button>
				<button id="cancel-button">Cancel</button>
			</section>
		</div>
	</div>
	<audio id="ding" src="/assets/DING.flac"></audio>
</template>